---
import EventsTickets from "../components/EventsTickets.jsx";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Entradas</title>
</head>
<body class="min-h-screen flex flex-col">
    <Navbar />
    <div class="bg-linear-to-b from-[#7b3f00]/10 via-[#fff7d6] to-[#e6d9a6] py-10">
        <div class="max-w-5xl mx-auto px-6">
            <h2 class="text-4xl font-extrabold text-center text-yellow-600 mb-12">Venta de Entradas</h2>
        </div>

        <EventsTickets client:idle/>
    </div>
    <Footer />
</body>
</html>

<!-- bg-linear-to-b from-[#7b3f00]/10 via-[#fff7d6] to-white py-10 -->