---
import EventsTickets from "../components/EventsTickets.jsx";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Entradas</title>
</head>
<body class="flex flex-col min-h-screen">
    <Navbar />
    <h1 class="text-4xl font-bold text-yellow-400 mb-8 uppercase mt-3 text-center px-4 py-2 font-magic">Venta de Entradas</h1>
    <EventsTickets client:idle/>
    <Footer />
</body>
</html>