---
import Merchandising from "../components/Merchandising.jsx";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Merchandising</title>
</head>
<body class="min-h-screen flex flex-col font-magic text-white">
    <Navbar />

    <h1 class="text-4xl font-bold text-yellow-400 mb-8 uppercase text-center px-4 py-2">Venta de Merchandising</h1>
    <!-- <Merchandising client:idle/> -->
    <Merchandising client:load />
    
    <Footer />
</body>
</html>