---
import Merchandising from "../components/Merchandising.jsx";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Merchandising</title>
</head>
<body>
    <Navbar />
    <!-- <Merchandising client:idle/> -->
    <Merchandising client:load />
    
    <Footer />
</body>
</html>